
/*==========================================================*/



/*===========================================================
  ===========================================================
  ===========================================================



                     body




    
<!DOCTYPE html>
<html lang="en" >
    <head>
        <!-------- Description  --------->
        <meta name="descrption" content="This is a web page is about muvi We cover all the muvi in the world.">
        <!-------- Keywords  --------->
        <meta name="keywords" content="muvi, klick, watch movie">
        <!-------- Author   --------->
        <meta http-equiv="author" content="Sila de boy">
        <!-------- Content Language   --------->
        <meta http-equiv="content-language" content="en-us">
        <!--- 8-bit Unicode Transformation Format Variable Width Character enable all Character to be encoded Include chines world , and Emoji ------>    
        <meta charset="UTF-8">
        <!-------- Compatible to all browsers   --------->
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <!-------- Compatible to all Size of phone   --------->
        <meta name="viewport" contents="width-device-width,initial-scale=1.0">
        <!-------- Like to pimp or paint imp the web   --------->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <!-------- Title of the web   --------->
        <title>www.muvi.com</title>
    </head>

    <body>
	

            
            ˄
            |
            |
            |
            |
            |
            |

            ˅
            

		

    </body>
</html>
	





        VITU VYOTE KWENYE BODY VISIWE NA SPACE 

============================================================
============================================================
===========================================================*/



*, *::after, *::before{
    margin: 0;
    padding: 0;
}



/*===========================================================
  ===========================================================
  ===========================================================


                         body end


============================================================
============================================================
===========================================================*/




























/*===========================================================
  ===========================================================
  ===========================================================



                    body

    
                    




    
<!DOCTYPE html>
<html lang="en" >
    <head>
        <!-------- Description  --------->
        <meta name="descrption" content="This is a web page is about muvi We cover all the muvi in the world.">
        <!-------- Keywords  --------->
        <meta name="keywords" content="muvi, klick, watch movie">
        <!-------- Author   --------->
        <meta http-equiv="author" content="Sila de boy">
        <!-------- Content Language   --------->
        <meta http-equiv="content-language" content="en-us">
        <!--- 8-bit Unicode Transformation Format Variable Width Character enable all Character to be encoded Include chines world , and Emoji ------>    
        <meta charset="UTF-8">
        <!-------- Compatible to all browsers   --------->
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <!-------- Compatible to all Size of phone   --------->
        <meta name="viewport" contents="width-device-width,initial-scale=1.0">
        <!-------- Like to pimp or paint imp the web   --------->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <!-------- Title of the web   --------->
        <title>www.muvi.com</title>
    </head>

    <body>
	

            
            ˄
            |
            |
            |
            |
            |
            |

            ˅
            

		

    </body>
</html>
	
	



    VITU VYOTE KWENYE BODY BACKGROUND COLOR BLUE FLAN

============================================================
============================================================
===========================================================*/





body{
    background: #2e8d86;
}





/*===========================================================
  ===========================================================
  ===========================================================




                         body end



============================================================
============================================================
===========================================================*/



























































/*==========================================================*/







/*===========================================================
  ===========================================================
  ===========================================================



	                    container


<!DOCTYPE html>
<html lang="en" >
    <head>
        <!-------- Description  --------->
        <meta name="descrption" content="This is a web page is about muvi We cover all the muvi in the world.">
        <!-------- Keywords  --------->
        <meta name="keywords" content="muvi, klick, watch movie">
        <!-------- Author   --------->
        <meta http-equiv="author" content="Sila de boy">
        <!-------- Content Language   --------->
        <meta http-equiv="content-language" content="en-us">
        <!--- 8-bit Unicode Transformation Format Variable Width Character enable all Character to be encoded Include chines world , and Emoji ------>    
        <meta charset="UTF-8">
        <!-------- Compatible to all browsers   --------->
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <!-------- Compatible to all Size of phone   --------->
        <meta name="viewport" contents="width-device-width,initial-scale=1.0">
        <!-------- Like to pimp or paint imp the web   --------->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <!-------- Title of the web   --------->
        <title>www.muvi.com</title>
    </head>

    <body>
        
		
        <!----------------------
        ------------------------
        ------ Container -------
        ------------------------ 
        ----------------------->
 
		
		<div class="container">
                   ----------
            
            
            <!---------------------------------------
            -----------------------------------------
            -----             row            --------
            -----------------------------------------
            ---------------------------------------->

            <div class="row">
                			 

                
				
					            
                    <!-------------------------------
                    -----      feature-img  ---------
                    -------------------------------->

                    <div class="feature-img">
						
						
                    
                        <!-------- img src="media/icon/icon_02.png" --------->
						
                        <img src="media/video1/Wrath_Of_Men.jpg" >
						
                        <!-------- img src="media/icon/icon_02.png" end ---------> 
                    
						
		
						
						
                        <!-------- img src="media/icon/icon_02.png" --------->
						
						
                        <img src="media/icon/icon_02.png" alt="" class="play-btn">


                        <!-------- img src="media/icon/icon_02.png" end ---------> 
						
						
	
						
                    </div>  
                
                    <!-----------------------------------
                    -----      feature-img end  ---------
                    ------------------------------------>

			
				
				
                
            </div>
             
            <!---------------------------------------
            -----------------------------------------
            -----             row            --------
            -----------------------------------------
            ---------------------------------------->

            
            
            
            
            
            
       </div>
		
		
        
        <!---------------------
         ----------------------
         --- Container end ----
         ---------------------- 
         ---------------------->
        
		
    </body>
</html>

============================================================
============================================================
===========================================================*/







.container {
   font-size: 3rem;
   margin: 2rem 0;
   text-transform: capitalize;
   color: var(--purple);
   font-family: verdana, Geneva, Tahoma, sans-serif;
   letter-spacing: .2rem;
   text-align: center;
   text-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
}





/*===========================================================
  ===========================================================
  ===========================================================




                     feature img End



============================================================
============================================================
===========================================================*/























/*===========================================================
  ===========================================================
  ===========================================================



	                     row

<!DOCTYPE html>
<html lang="en" >
    <head>
        <!-------- Description  --------->
        <meta name="descrption" content="This is a web page is about muvi We cover all the muvi in the world.">
        <!-------- Keywords  --------->
        <meta name="keywords" content="muvi, klick, watch movie">
        <!-------- Author   --------->
        <meta http-equiv="author" content="Sila de boy">
        <!-------- Content Language   --------->
        <meta http-equiv="content-language" content="en-us">
        <!--- 8-bit Unicode Transformation Format Variable Width Character enable all Character to be encoded Include chines world , and Emoji ------>    
        <meta charset="UTF-8">
        <!-------- Compatible to all browsers   --------->
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <!-------- Compatible to all Size of phone   --------->
        <meta name="viewport" contents="width-device-width,initial-scale=1.0">
        <!-------- Like to pimp or paint imp the web   --------->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <!-------- Title of the web   --------->
        <title>www.muvi.com</title>
    </head>

    <body>
        
		
        <!----------------------
        ------------------------
        ------ Container -------
        ------------------------ 
        ----------------------->
 
		
		<div class="container">

            
            
            <!---------------------------------------
            -----------------------------------------
            -----             row            --------
            -----------------------------------------
            ---------------------------------------->

            <div class="row">
                       ------ 

                
				
					            
                    <!-------------------------------
                    -----      feature-img  ---------
                    -------------------------------->

                    <div class="feature-img">
						
						
                    
                        <!-------- img src="media/icon/icon_02.png" --------->
						
                        <img src="media/video1/Wrath_Of_Men.jpg" >
						
                        <!-------- img src="media/icon/icon_02.png" end ---------> 
                    
						
		
						
						
                        <!-------- img src="media/icon/icon_02.png" --------->
						
						
                        <img src="media/icon/icon_02.png" alt="" class="play-btn">


                        <!-------- img src="media/icon/icon_02.png" end ---------> 
						
						
	
						
                    </div>  
                
                    <!-----------------------------------
                    -----      feature-img end  ---------
                    ------------------------------------>

			
				
				
                
            </div>
             
            <!---------------------------------------
            -----------------------------------------
            -----             row            --------
            -----------------------------------------
            ---------------------------------------->

            
            
            
            
            
            
       </div>
		
		
        
        <!---------------------
         ----------------------
         --- Container end ----
         ---------------------- 
         ---------------------->
        
		
    </body>
</html>














============================================================
============================================================
===========================================================*/




.row{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}



/*===========================================================
  ===========================================================
  ===========================================================




                         row End



============================================================
============================================================
===========================================================*/















































/*===========================================================
  ===========================================================
  ===========================================================



	                     feature-img


              

<!DOCTYPE html>
<html lang="en" >
    <head>
        <!-------- Description  --------->
        <meta name="descrption" content="This is a web page is about muvi We cover all the muvi in the world.">
        <!-------- Keywords  --------->
        <meta name="keywords" content="muvi, klick, watch movie">
        <!-------- Author   --------->
        <meta http-equiv="author" content="Sila de boy">
        <!-------- Content Language   --------->
        <meta http-equiv="content-language" content="en-us">
        <!--- 8-bit Unicode Transformation Format Variable Width Character enable all Character to be encoded Include chines world , and Emoji ------>    
        <meta charset="UTF-8">
        <!-------- Compatible to all browsers   --------->
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <!-------- Compatible to all Size of phone   --------->
        <meta name="viewport" contents="width-device-width,initial-scale=1.0">
        <!-------- Like to pimp or paint imp the web   --------->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <!-------- Title of the web   --------->
        <title>www.muvi.com</title>
    </head>

    <body>
        
		
        <!----------------------
        ------------------------
        ------ Container -------
        ------------------------ 
        ----------------------->
 
		
		<div class="container">

            
            
            <!---------------------------------------
            -----------------------------------------
            -----             row            --------
            -----------------------------------------
            ---------------------------------------->

            <div class="row">
                       ------ 

                
				
					            
                    <!-------------------------------
                    -----      feature-img  ---------
                    -------------------------------->

                    <div class="feature-img">
                            ------------------
						
						
                    
                        <!-------- img src="media/icon/icon_02.png" --------->
						
                        <img src="media/video1/Wrath_Of_Men.jpg" >
						
                        <!-------- img src="media/icon/icon_02.png" end ---------> 
                    
						
		
						
						
                        <!-------- img src="media/icon/icon_02.png" --------->
						
						
                        <img src="media/icon/icon_02.png" alt="" class="play-btn">


                        <!-------- img src="media/icon/icon_02.png" end ---------> 
						
						
	
						
                    </div>  
                
                    <!-----------------------------------
                    -----      feature-img end  ---------
                    ------------------------------------>

			
				
				
                
            </div>
             
            <!---------------------------------------
            -----------------------------------------
            -----             row            --------
            -----------------------------------------
            ---------------------------------------->

            
            
            
            
            
            
       </div>
		
		
        
        <!---------------------
         ----------------------
         --- Container end ----
         ---------------------- 
         ---------------------->
        
		
    </body>
</html>











============================================================
============================================================
===========================================================*/








.row .feature-img{
	height: 377px;  
    width: 255px;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
	transform: translate(10px, -31px);
    overflow: hidden;
    border-radius: 1rem;
}



/*===========================================================
  ===========================================================
  ===========================================================




                     feature-img End



============================================================
============================================================
===========================================================*/


























































/*===========================================================
  ===========================================================
  ===========================================================



	               row feature-img img


<!DOCTYPE html>
<html lang="en" >
    <head>
        <!-------- Description  --------->
        <meta name="descrption" content="This is a web page is about muvi We cover all the muvi in the world.">
        <!-------- Keywords  --------->
        <meta name="keywords" content="muvi, klick, watch movie">
        <!-------- Author   --------->
        <meta http-equiv="author" content="Sila de boy">
        <!-------- Content Language   --------->
        <meta http-equiv="content-language" content="en-us">
        <!--- 8-bit Unicode Transformation Format Variable Width Character enable all Character to be encoded Include chines world , and Emoji ------>    
        <meta charset="UTF-8">
        <!-------- Compatible to all browsers   --------->
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <!-------- Compatible to all Size of phone   --------->
        <meta name="viewport" contents="width-device-width,initial-scale=1.0">
        <!-------- Like to pimp or paint imp the web   --------->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <!-------- Title of the web   --------->
        <title>www.muvi.com</title>
    </head>

    <body>
        
		
        <!----------------------
        ------------------------
        ------ Container -------
        ------------------------ 
        ----------------------->
 
		
		<div class="container">

            
            
            <!---------------------------------------
            -----------------------------------------
            -----             row            --------
            -----------------------------------------
            ---------------------------------------->

            <div class="row">
                       ------ 

                
				
					            
                    <!-------------------------------
                    -----      feature-img  ---------
                    -------------------------------->

                    <div class="feature-img">
                            ------------------
						
						
                    
                        <!-------- img src="media/icon/icon_02.png" --------->
						
                        <img src="media/video1/Wrath_Of_Men.jpg" >
                         ----
						
                        <!-------- img src="media/icon/icon_02.png" end ---------> 
                    
						
		
						
						
                        <!-------- img src="media/icon/icon_02.png" --------->
						
						
                        <img src="media/icon/icon_02.png" alt="" class="play-btn">


                        <!-------- img src="media/icon/icon_02.png" end ---------> 
						
						
	
						
                    </div>  
                
                    <!-----------------------------------
                    -----      feature-img end  ---------
                    ------------------------------------>

			
				
				
                
            </div>
             
            <!---------------------------------------
            -----------------------------------------
            -----             row            --------
            -----------------------------------------
            ---------------------------------------->

            
            
            
            
            
            
       </div>
		
		
        
        <!---------------------
         ----------------------
         --- Container end ----
         ---------------------- 
         ---------------------->
        
		
    </body>
</html>





============================================================
============================================================
===========================================================*/


.row .feature-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}


/*===========================================================
  ===========================================================
  ===========================================================




                   row feature-img img End



============================================================
============================================================
===========================================================*/










/*==========================================================*/





 